<div id="<%= dom_id node %>">
  <div>
    <strong>Name:</strong>
    <%= node.name %>
  </div>

  <div>
    <strong>Ancestry:</strong>
    <%= node.ancestry %>
  </div>

  <div>
    <strong>Ancestry depth:</strong>
    <%= node.ancestry_depth %>
  </div>

</div>
