<div class="row mt-5">
  <div class="col-6 offset-3 p-5 bg-light border rounded shadow">
    <div class="text-center">
      <%= image_tag("login/login-logo.svg", class: "img-fluid mb-3 text-center", alt: "login-logo") %>
    </div>
    <%= yield %>
  </div>
</div>