<div class="row align-items-center p-3 mt-5">
  <div class="col text-center">
    <%= image_tag("home/home-logo.svg", class: "img-fluid", alt: "home-logo") %>
    <br/>
    &emsp;
    <h2 class="text-primary fw-bold">
      OCCULTAE
    </h2>
    <span class="text-primary">
      Applicazione web per la rilevazione dei permessi utente di SinCGIL
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class="text-primary">
      Versione 1.0.0 cgil-fvg
    </h4>
  </div>
  <div class="col text-center">
    <%= image_tag("home/home-davo-logo.svg", class: "img-fluid", alt: "home-davo-logo") %>
    <br/>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href="#" target="_blank">
        Davo Davodsky - The Davosky Connection
      </a>
    </h4>
    <br/>
  </div>
</div>
