<div class="row mt-5">
  <div class="col-8 offset-2">
    <div class="text-center text-primary fs-4 fw-bold">
      <%= image_tag("home/home-logo.svg", class: "img-fluid", alt: "home-logo") %>
    </div>
  </div>
</div>
